@model CinelAirMiles.Web.Backoffice.Models.CountDataViewModel

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">


            <div class="col-md-4">
                <div class="feed-box text-center">

                </div>
            </div>

            <div class="col-md-4">
                <div class="feed-box text-center">

                </div>
            </div>


            <div class="col-md-4">
                <section class="card">
                    <div class="twt-feed blue-bg">
                        <div class="corner-ribon black-ribon">
                            <i class="fa fa-user-circle"></i>
                        </div>
                        <div class="fa fa-user-circle wtt-mark"></div>

                        <div class="media">
                            <div class="media-body">
                                <h2 class="text-white display-6">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
                                <p class="text-light">@Html.DisplayFor(model => model.Email)</p>
                            </div>
                        </div>
                    </div>

                    <footer class="twt-footer">
                        <span class="pull-right">
                            <a href="#"><i class="fa fa-mobile-phone"></i></a>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </span>
                    </footer>
                </section>
            </div>

            @* <- Info -> *@
            <div class="col-sm-12 mb-4">
                <div class="card-group">
                    @if (this.User.IsInRole("Admin"))
                    {


                <div class="card col-lg-2 col-md-6 no-padding bg-flat-color-1">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-users text-light"></i>
                        </div>
                        <div class="h4 mb-0 text-light">
                            <span class="count">@Html.DisplayFor(model => model.EmployeesCount)</span>
                        </div>
                        <small class="text-uppercase font-weight-bold text-light">Employees</small>
                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
                                <div class="card col-lg-2 col-md-6 no-padding no-shadow">
                                    <div class="card-body bg-flat-color-2">
                                        <div class="h1 text-muted text-right mb-4">
                                            <i class="fa fa-user-plus text-light"></i>
                                        </div>
                                        <div class="h4 mb-0 text-light">
                                            <span class="count">@Html.DisplayFor(model => model.ClientCount)</span>
                                        </div>
                                        <small class="text-uppercase font-weight-bold text-light">Clients</small>
                                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                                    </div>
                                </div>}
                    @if (this.User.IsInRole("User"))
                    {
                <div class="card col-lg-2 col-md-6 no-padding no-shadow">
                    <div class="card-body bg-flat-color-3">
                        <div class="h1 text-right mb-4">
                            <i class="fa fa-cart-plus text-light"></i>
                        </div>
                        <div class="h4 mb-0 text-light">
                            <span class="count">@Html.DisplayFor(model => model.PartnerCount)</span>
                        </div>
                        <small class="text-light text-uppercase font-weight-bold">Partners</small>
                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
                                <div class="card col-lg-2 col-md-6 no-padding no-shadow">
                                    <div class="card-body bg-flat-color-5">
                                        <div class="h1 text-right text-light mb-4">
                                            <i class="fa fa-pie-chart"></i>
                                        </div>
                                        <div class="h4 mb-0 text-light">
                                            <span class="count">@Html.DisplayFor(model => model.BenefitsCount)</span>
                                        </div>
                                        <small class="text-uppercase font-weight-bold text-light">Benefits</small>
                                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                                    </div>
                                </div>}
                    @if (this.User.IsInRole("SuperUser"))
                    {
                <div class="card col-lg-2 col-md-6 no-padding no-shadow">
                    <div class="card-body bg-flat-color-4">
                        <div class="h1 text-light text-right mb-4">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="h4 mb-0 text-light">@Html.DisplayFor(model => model.SubscriptionsCount)</div>
                        <small class="text-light text-uppercase font-weight-bold">Subscriptions</small>
                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
                                <div class="card col-lg-2 col-md-6 no-padding no-shadow">
                                    <div class="card-body bg-flat-color-1">
                                        <div class="h1 text-light text-right mb-4">
                                            <i class="fa fa-comments-o"></i>
                                        </div>
                                        <div class="h4 mb-0 text-light">
                                            <span class="count">@Html.DisplayFor(model => model.ContactFormCount)</span>
                                        </div>
                                        <small class="text-light text-uppercase font-weight-bold">Contact Forms</small>
                                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                                    </div>
                                </div>

                                                <div class="card col-lg-2 col-md-6 no-padding no-shadow">
                                                    <div class="card-body bg-flat-color-3">
                                                        <div class="h1 text-light text-right mb-4">
                                                            <i class="fa fa-balance-scale"></i>
                                                        </div>
                                                        <div class="h4 mb-0 text-light">
                                                            <span class="count">@Html.DisplayFor(model => model.ComplaintsCount)</span>
                                                        </div>
                                                        <small class="text-light text-uppercase font-weight-bold">Complaints</small>
                                                        <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                                                    </div>
                                                </div>}
                </div>

            </div>
            <a href="http://198.168.193.7/Manual.pdf" style="text-align:end; color:dodgerblue; margin-right:10px;">
            <br />
            <br />
            <i class="fa fa-book"></i> Manual</a>

        </div>
    </div>
</div>



