@model CinelAirMiles.Common.Entities.Client

@{
    Layout = "_LayoutMyAccount";
}

<!--? My Account Area Start-->
    <section class="blog_area section-padding" style="margin-top:-100px;">
        <h1>My Account Area</h1>
        <div class="container">
            <p>Welcome to your Personal Area!</p>
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">



                        @if (Model.ProgramTierId.Equals(1))
                        {
                            <article class="blog_item" style="background-color: #BBDEFB; width: 550px; border: 2px solid grey">
                                <div class="blog_details">
                                    <div href="blog_details.html">
                                        <ejs-qrcodegenerator id="ej2qrCode" backgroundColor="#BBDEFB" width="200" height="150" value="@string.Concat("CINEL AIR MILES CLIENT", "\n", "First name: ", Model.User.FirstName, "\n", "Last name: ", Model.User.LastName, "\n", "Program number: ", Model.MilesProgramNumber)">
                                            <e-qrcodegenerator-displaytext text="Client info"></e-qrcodegenerator-displaytext>
                                        </ejs-qrcodegenerator>
                                        <a><img src="~/frontoffice/img/flyt_preview_rev_1.png" alt="" style="width:155px; margin-left:300px;"></a>
                                        <h2 style="margin-left: 387px;">BASIC</h2>
                                        <h6 style="color: #2d2d2d;">@Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)</h6>
                                    </div>
                                </div>
                            </article>
                        }
                        @if (Model.ProgramTierId.Equals(2))
                        {
                            <article class="blog_item" style="background-color: #E0E0E0;width: 550px;">
                                <div class="blog_details">
                                    <div href="blog_details.html">

                                        <ejs-qrcodegenerator id="ej2qrCode" backgroundColor="#E0E0E0" width="200" height="150" value="@string.Concat("CINEL AIR MILES CLIENT", "\n", "First name: ", Model.User.FirstName, "\n", "Last name: ", Model.User.LastName, "\n", "Program number: ", Model.MilesProgramNumber)">
                                            <e-qrcodegenerator-displaytext text="Client info"></e-qrcodegenerator-displaytext>
                                        </ejs-qrcodegenerator><a><img src="~/frontoffice/img/flyt_preview_rev_1.png" alt="" style="width:155px; margin-left:300px;"></a>
                                        <br />
                                        <h2 style="margin-left: 387px;">SILVER</h2>
                                        <h6 style="color: #2d2d2d;">@Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)</h6>
                                    </div>
                                </div>
                            </article>
                        }
                        @if (Model.ProgramTierId.Equals(3))
                        {
                            <article class="blog_item" style="background-color: #FFE57F;width: 550px;border: 1px solid grey">
                                <div class="blog_details">
                                    <div href="blog_details.html">

                                        <ejs-qrcodegenerator id="ej2qrCode" backgroundColor="#FFE57F" width="200" height="150"
                                                             value="@string.Concat("CINEL AIR MILES CLIENT", "\n", "First name: ", Model.User.FirstName, "\n", "Last name: ", Model.User.LastName, "\n", "Program number: ", Model.MilesProgramNumber)">
                                            <e-qrcodegenerator-displaytext text="Client info"></e-qrcodegenerator-displaytext>
                                        </ejs-qrcodegenerator><a><img src="~/frontoffice/img/flyt_preview_rev_1.png" alt="" style="width:155px; margin-left:300px;"></a>
                                        <br />
                                        <h2 style="margin-left: 387px;">GOLD</h2>
                                        <h6 style="color: #2d2d2d;">@Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)</h6>
                                    </div>
                                </div>
                            </article>
                            <a class="submit-btn3" asp-action="ManageGoldReference" style="color:white; align-items:flex-end">Gold Reference Program</a>

                        }


                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">

                        <aside class="single_sidebar_widget popular_post_widget">
                            <div class="media post_item">

                                @*<img src="~/frontoffice/img/post/post_2.png" alt="post">*@
                                @*@if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img src=" @Url.Content(Model.ImageUrl)" alt="Image" style="width:100px;height:150px;max-height100%;height:auto" />
                }
                else
                {
                    <img src="~/images/Doctors/noImage.png" class="rounded-circle" asp-append-version="true" style="width:100px;height:150px;max-height:100%;height:auto" />
                }*@

                                <h5 style="color: #2d2d2d;">@Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)</h5>
                                <br />

                            </div>
                            <div class="media post_item">
                                <h6><strong>Client Number :</strong> @Html.DisplayFor(model => model.MilesProgramNumber)</h6>
                            </div>
                            <div class="media post_item">
                                <br />
                                <h3>@Html.DisplayFor(model => model.FlownSegments) Flight Segments</h3>

                            </div>

                            <br />
                            <a class="submit-btn3" asp-controller="Account" asp-action="ChangeUser">Edit profile</a>
                        </aside>

                        <article class="blog_item" style="background-color: #E1F5FE;">
                            <div class="blog_details">
                                <div href="blog_details.html">
                                    <h2 class="blog-head" style="color: #2d2d2d;"><i class="fa fa-binoculars"></i> Book your trip</h2>
                                    <br />
                                    <a class="submit-btn3" asp-action="Edit" style="color:white;">Book</a>
                                    <br />

                                </div>
                                <div href="blog_details.html">
                                    <br />
                                    <a class="submit-btn3" asp-action="Edit" style="color:white; align-items:flex-end">Book with miles</a>
                                </div>
                                </div>
</article>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- My Account Area End -->
