@model CinelAirMiles.Common.Entities.Client

@{
    ViewData["Title"] = "Client Details";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MilesProgramNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MilesProgramNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FlownSegments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlownSegments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsInReferrerProgram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsInReferrerProgram)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MembershipDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MembershipDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramTier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramTier.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-success"><i class="fa fa-arrow-left"></i> Back</a>
</div>
