@model IEnumerable<CinelAirMiles.Common.Entities.Client>

@{
    ViewData["Title"] = "Clients";
}

<h2>@ViewData["Title"]</h2>
<br />
<p>
    <a asp-action="Create" class="btn btn-outline-info"><i class="fa fa-plus"></i> Client</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MilesProgramNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.MembershipDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramTier)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MilesProgramNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.MembershipDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramTier.Description)
                </td>*@
            <td>
                <a asp-action="Edit" asp-route-clientId="@item.Id" class="btn btn-outline-warning"><i class="fa fa-pencil"></i></a>
                <a asp-action="Details" asp-route-clientId="@item.Id" class="btn btn-outline-primary"><i class="fa fa-list-ol"></i></a>
                @if (item.Active)
                {
                    <a asp-action="Deactivate" asp-route-clientId="@item.Id" class="btn btn-outline-danger">Deactivate</a>
                }
                else
                {
                    <a asp-action="Activate" asp-route-clientId="@item.Id" class="btn btn-outline-success">Activate</a>
                    <a asp-action="Inherit" asp-route-clientId="@item.Id" class="btn btn-outline-warning">Inherit</a>
                }
                @*<a asp-action="Delete" asp-route-clientId="@item.Id" class="btn btn-primary">Delete</a>*@
            </td>
            </tr>
        }
    </tbody>
</table>
