@model IEnumerable<CinelAirMiles.Common.Entities.Client>

@{
    ViewData["Title"] = "Clients";
}

<h2>@ViewData["Title"]</h2>
<br />
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MilesProgramNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.MembershipDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramTier)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MilesProgramNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.MembershipDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramTier.Description)
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-clientId="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-clientId="@item.Id" class="btn btn-primary">Details</a>
                    @*<a asp-action="Delete" asp-route-clientId="@item.Id" class="btn btn-primary">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
