@model CinelAirMiles.Common.Entities.Mile

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Miles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Miles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreditDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.MilesProgramNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.MilesProgramNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MilesType.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MilesType.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.TextAreaFor(model => model.Description, 10, 35, new { @readonly = "readonly" })
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    <a asp-action="Index">Back to List</a>
</div>
