@model CinelAirMiles.Common.Entities.Partner

@{
    ViewData["Title"] = "Details";
}

<h2>Partner</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning"><i class="fa fa-pencil"></i>Edit</a>

    <a asp-action="Index" class="btn btn-outline-success"><i class="fa fa-arrow-left"></i> Back</a>
    <br />
    <br />
    <a asp-action="AddBenefit" asp-route-id="@Model.Id" class="btn btn-outline-info"><i class="fa fa-plus"></i> Benefit</a>
</div>

<br />

<h4>Benefits</h4>
@if (Model.Benefits == null || Model.Benefits.Count == 0)
{
<h5>No Benefits added yet</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Benefits.FirstOrDefault().Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Benefits.OrderBy(c => c.Description))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td id="@item.Id">
                        <a asp-action="EditBenefit" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="fa fa-pencil"></i></a>
                        <a asp-action="DeleteBenefit" asp-route-id="@item.Id" class="btn btn-outline-danger" id="btnDelete"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


